{% load static %}
{% load bootstrap4 %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
	<head>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        <script>var URL = "{% url 'allcars' %}";</script>


  	</head>
    <body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
	  			<a class="navbar-brand" href="#">RENTEZY</a>
				<ul class="navbar-nav ml-auto">
{#                  <li class="nav-item"> <a href = "{% url 'allcars' %}" class="nav-link text-white" ><span class="fa fa-home fa-2x mr-2"></span></a>	</li>#}
                    <li class="nav-item"> <a href = '/yourcars' class="nav-link text-secondary font-weight-bold border-right">Home</a> </li>
                    <li class="nav-item"> <a href = '{% url 'myreservations' %}' class="nav-link text-white border-right">My Reservations</a> </li>
                    <li class="nav-item"> <a href = '{% url 'mytrips' %}' class="nav-link text-white border-right">My Trips</a> </li>
                    <li class="nav-item"> <a href= '{% url 'myfeedbacks' %}' class="nav-link text-white border-right">My Feedbacks</a> </li>
	            	<li class="nav-item "> <a href="#" class="nav-link text-white border-right" >Hello {{ request.session.username }} </a>
	            	<li class="nav-item "> <a href="{% url 'logout_view' %}" class="nav-link text-white"><span class="fa fa-power-off pt-1"></span></a></li>
                </ul>
			</div>
		</nav>
		<div class="row">
			<div class="col-md-3 border-right">
                <div class="form-group px-4">

					<h5 class="mt-4 mb-3 pl-4">Filter cars</h5>
                    <form action="{% url 'allcars' %}" method="post" class="pl-4">

                        <div class="form">

                        		<div class="card w-100 mb-3">
								  <div class="card-body">
								    <h6 class="card-title">Select car category</h6>
								    <p class="card-text">
								    	<select name="cartype" id="category_car">
											<option value="none" selected="selected">No Filter</option>
											<option value="compact">Compact</option>
											<option value="sedan">Sedan</option>
											<option value="suv">SUVs</option>
										</select>
		      						</p>
								    <h6 class="card-title">Number of passengers</h6>
								    <p class="card-text">
										<select name="nop" id="category_nop">
											<option value="10" selected="selected">No Filter</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
										</select>
		      						</p>
	                               <button type="submit" class="btn btn-dark px-5">Filter</button>
								  </div>
								</div>

                        		<div class="card w-100">
								  <div class="card-body">
								    <h6 class="card-title">Sort by price</h6>
								    <p class="card-text">
										<select name="sortby" id="sort_car" class="mr-4">
											<option value="lowtohigh" selected="selected">Price Low to High</option>
											<option value="hightolow">Price High to Low</option>
										</select>
		      						</p>
	                               <button type="submit" class="btn btn-dark px-5">Sort</button>
								  </div>
								</div>
						</div>

                    </form>

                     <form action="{% url 'allcars' %}" method="post" class="pl-4">
			         	<div class="form-group">

			         	</div>
			         </form>
    			</div>
    		</div>

   			<div class="col-md-9">

				<div class="container">
					<div class="row mt-4 mb-3">
						<div class="col">
							<form class="form-inline">
							    <div class="input-group">
									<input type="text" size="70" class="mx-auto form-control my-2 small" id="locationTextField" placeholder="Enter pickup location...">
			   				        <div class="input-group-postend">
					   					<a href="{% url 'filteredcars' %}" class="btn btn-dark mx-auto my-2 px-4" id="output">Search</a>
							        </div>

							    </div>
							</form>
							        <script>

							        	function updateQueryStringParam(uri, key, value) {
							  				var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
							  				var separator = uri.indexOf('?') !== -1 ? "&" : "?";
							  				if (uri.match(re)) {
							    				return uri.replace(re, '$1' + key + "=" + value + '$2');
							  					}
							  				else {
							    				return uri + separator + key + "=" + value;
							  					}
											}

							            function init() {
							                var input = document.getElementById('locationTextField');
							                var autocomplete = new google.maps.places.Autocomplete(input);
							                google.maps.event.addListener(autocomplete, 'place_changed',

							   			function f1() {
							      			var place = autocomplete.getPlace();
							      			//var lat = place.geometry.location.lat();
							      			//var lng = place.geometry.location.lng();
							      			var city = place.address_components[0].short_name;
							      			output = document.getElementById("output");
											output.href = updateQueryStringParam(output.href, 'name', city);
											//output.innerHTML = city;
							      			//document.getElementById("output").innerHTML = city;

							   			});
							           }
							           google.maps.event.addDomListener(window, 'load', init);
							        </script>

						</div>
					</div>
				</div>

			    {% for car in cars %}
			    	{% if car.Reserved == "No" %}
				<div class="card w-75 rounded bg-light py-2 mb-2 ml-3">

					<div class="container">
						<div class="row">
							<div class="col-sm-4">
			  					<img class="card-img-top img-responsive" src="{{ car.car_pic.url }}" alt="Card image cap" style="width: 100%">
			  				</div>
			  				<div class="col-sm-8">
				  				<div class="card-body">
				    				<h5 class="card-title">{{ car.modelName }}</h5>
				    				<p class="card-text">
                                       Owner: {{car.owner.first_name}} {{car.owner.last_name}} <br>
				    					Price: $ {{car.priceperhour}} per hour<br>
				    					Pickup Location: {{car.pickuplocation}} <br>
				    					Car Type: {{car.cartype}} <br>
				    					Passenger Capacity: {{car.passengerCapacity}} <br>
				    				</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Reserve
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Rentezy renting policy</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Terms of Use<br>
            Last updated:  6 May,2018<br>
            <br>
            <ul>
            <li>	<b>Introduction:</b><br>
                Rentezy provides this site for use and follows all applicable laws and regulations and few terms. By accessing our site means that you are accepting our terms and conditions unconditionally. So, plese read the terms and conditions carefully. Please do not use our site if you do not agree to those terms. Rentezy reserves right to change these terms of use, so please check the terms frequently to avoid any issues. The date for the latest update in the change of terms will be posted above. All changes are effective immediately after we post them.<br>
            </li>
            <li>	<b>Privacy policy:</b><br>
                Rentezy will never misuse the data provided by the user of the site. We take your privacy seriously. Rentezy is free to use any content or information contained in any communication you may send to us for the improvement of our site without any acknowledgement.<br>
            </li>
            <li>	<b>Reservations and Transactions:</b><br>
                <ol>
                    <li>	Customers:<br>
                            Rentezy monitors all the reservations that are made through the site. It has the right to cancel any reservation anytime (even after it is confirmed) for no reason. Any feedback given to a owner can also be deleted for no reason. All the transactions are made through the site not directly. Rentezy is not responsible for any transaction made directly with the owner.<br>
                    </li>
                    <li>	Owner:<br>
                            Rentezy has the right to approve or not approve the owners. Rentezy can delete a particular car of any owner for no reason. Rentezy is not responsible for any damages of the car. Any feedback given to the customer can be removed for no reason. Rentezy has the right to cancel any reservation anytime.<br>
                    </li>
                </ol>
            </li>
            <li>	<b>Communications:</b><br>
                By using our site, you accept to receive any kind of mails or notices from Rentezy. You agree that any notice ,mails or any other communications that we send you electronically will satisy any legal communication requirements.<br>
            </li>
            <li>	<b>Intellectual Property:</b><br>
                The overall design of the site is copyrighted by Rentezy. You can copy or download the content provided by the site only for your personal use by not removing any copyright notices from the content. Any other such use is strictly prohibited. If you feel that there is content which violates your intellectual property rights, you can contact us.<br>
            </li>
            <li>	<b>Warranty:</b><br>
                Rentezy does not provide warranty for any products available on our site and is provided as available.<br>
            </li>
            <li>	<b>General:</b><br>
                Please go through all the terms and conditions provided by us and abide by those terms if you use our site. Headings does not define or describe the scope of that section but just for reference purposes only. These terms and conditions set the entire agreement between the customers, owners and Rentezy with your use of the site.<br>
            </li>
            </ul>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Disagree</button>
            <a href="{% url 'reserve' car.id %}" class="btn btn-primary">Agree</a>
            </div>
            </div>
            </div>
            </div>

            </div>
            </div>
        </div>
    </div>

</div>
{% endif %}
{% endfor %}
</div>
</div>





	</body>
</html>
