


<html>
<head>
	 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>

    <h1> Your cars </h1>
    {% for car in cars %}
        <p>	{{ car.modelName }} </p> 
        <p> {{ car. }}</p>
        <img src="{{ car.car_pic.url }}">     
    <a href="{% url 'delete_object' car.id %}">delete</a> 
    <a href="{% url 'modify_car' car.id %}">Modify</a>
    {% endfor %}

</html>