
<html>
<head>
	 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>

    <h1> Your cars </h1>
    {% for car in cars %}
    <p>	{{ car.modelName }} </p> 
    <p> {{ car.id }}</p>
    <img src="{{ car.car_pic.url }}" />
    {% endfor %}


</html>